
.footer__line {
    height: 5px;
    background-color: #062033;
    padding: 0;
    margin: 0;
}

.wrapper__footer {
    height: 405px;
    background-color: #1ea78d;
    padding: 0;
    margin: 0;
}

.footer {
    width: 1170px;
    padding: 0;
    padding-top: 120px;
    margin: 0 auto;
    color: white;
    font-family:  "OpenSans Light";
    font-size: 11pt;
    line-height: 1.5rem;

}

.footer__info {
    width: 265px;
    float: left; 
}

.footer__subscribe {
    float: left;
    margin-left: 45px;
    width: 270px;
}

.footer__subscribe h4 {
    margin-top: 0;
    margin-bottom: 45px;
}

.footer__subscribe input {
    width: 100%;
    height: 45px;
    font-size: 20pt;
    margin-bottom: 10px;
    border-radius: 4px;
    border-color:  white;
    background-color: #1ea78d;
}

.footer__explore {
    float: left;
    margin-left: 25px;
}

.footer__explore h4 {
    margin: 0;
}

.footer__explore ul {
    padding: 0;
    margin-top: 30px;
}

.footer__explore ul:nth-child(1) {
    padding: 0;
    margin-top: 54px;
    margin-left: 15px;
}

.footer__explore li {
    list-style: none;
    margin: 0;
    
    
}
.footer__explore li a {
    text-decoration: none;
    line-height: 2.5rem;
    color: white;
}

.footer__author {
    float: right;
    margin-top: 60px;
}

.author__info {
    border-left: 1px solid #177e72;
    padding-left: 10px; 
}

.author__info img {
    margin: 0 12px 0 10px;
}

.author__info span {
    color: black;
}

.author__copyright {
    color: black;
    margin-top: 75px;
}