
.header__container {
    height: 800px;
    background-image: url(../img/image_bg.png);
}

.header {
    width: 1170px;
    margin: 0 auto;
}

.header__logo{
    float: left;
}

.header__logo span:nth-child(1) {
    font-family: "Pacifico";
    color: white;
    font-size: 28px;   
}

.header__logo span:nth-child(2) {
    color: #32b0ee;
    font-size: 16px;
    margin-left: 27px;
    margin-right: 18px;
}

.header__logo span:nth-child(3) {
    color: white;
    font-size: 13px;
}

.header__menu {
    float: right;   
}

.header__menu ul {
    padding: 0;
    margin: 0;
    display: block;
}

.header__menu li {
    list-style: none;
    float: right;
    display: block;
    margin-right: 35px;
    padding-top: 33px;
    border-top: 1px transparent;
}

.header__menu li a {
    text-decoration: none;
    color: white;
    font-size: 13px; 
}

.header__menu li:hover {
    border-top: 1px solid #32b0ee;
}

.header__info {
    margin-top: 396px;
    color: white;
    text-align: center;
}

.header__info p {
    margin: 0;
    padding: 0;
}

.header__info p:first-child {
    font-size: 62px;
    margin: 0px;
}

.header__info p:first-child span {
    font-family: "OpenSans SemiBold";
}

.header__info p:nth-child(2) {
    font-size: 48px;
}

.header__info p:nth-child(2) span {
    color: #0fda94;
}

.header__info p:nth-child(3) {
    font-size: 18px;
    margin-top: 15px;
}

.header__info img {
    vertical-align: middle;
    margin: 0 33px; 
}

.header__social {
    text-align: center;
    margin-top: 100px;
}

.header__social img {
    height: 20px;
    margin-right: 20px;
}

.header__social #twitter:hover {
    background-image: url("../img/twitter-hover.png");
    background-repeat: no-repeat;
    background-position-x: 2px;
    background-position-y: 1px;
}

.header__social #facebook:hover {
    background-image: url("../img/facebook-hover.png");
    background-repeat: no-repeat;
    background-position-x: 1px;
    background-position-y: 1px;
}

.header__social #google:hover {
    background-image: url("../img/google+.png");
    background-repeat: no-repeat;
    background-position-x: 1px;
    background-position-y: 1px;
}

.header__social #dribble:hover {
    background-image: url("../img/dribbble-hover.png");
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 1px;
}







