.wrapper__team {
    height: 820px;
}

.team {
    background-color: #fff;
    width: 1170px;
    margin: 90px auto 0;
    text-align: center;
}

.team__info h2{
    text-transform: uppercase;
    color: #0eb493;
    margin-bottom: 10px;
    font-family: "OpenSans Bold"; 
    
}

.team__info  img {
    vertical-align: middle;
    margin: 0 14px;
   
}

.team__info  p {
    width: 930px;
    margin: 25x auto 0; 
} 

.team__item {
    width: 1170px;
    margin: 107px auto 0;
}
.team__person {
    float: left;
    margin-right: 30px; 
    
   
}

.team__person:last-child {
    margin-right: 0;    
}

.team__person p {
    text-align: center;
}

.team__person p:nth-child(2) {
    font-family: "OpenSans SemiBold"; 
}

.team__person p:nth-child(3) {
    font-size: 10pt;
}

/* team - images */
.team__image {
    display: block;
    width: 270px;
    height: 300px;
}
.team__image.image1 {
    background-image: url("../img/team_john.png");
}

.team__image.image2 {
    background-image: url("../img/team_chrystine.png");
}

.team__image.image3 {
    background-image: url("../img/team_martin.png");
}

.team__image.image4 {
    background-image: url("../img/team_steve.png");
}


/* team image hover */


.team__image.image1:hover {
    background: url("../img/Team_Hover.png"), url("../img/team_john.png");
}


.team__image.image2:hover {
    background-image:  url("../img/Team_Hover.png"), url("../img/team_chrystine.png");
}

.team__image.image3:hover {
    background-image:  url("../img/Team_Hover.png"), url("../img/team_martin.png");
}

.team__image.image4:hover {
    background-image:  url("../img/Team_Hover.png"), url("../img/team_steve.png");
} 

